footer
  .container.text-center
    p.float-left 2020 Koscom Burning day AZA [TIMOJU]
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/jaeyoon1015/aza2020.git') GitHub Project
      //- li.list-inline-item
      //-   a(href='https://github.com/sahat/hackathon-starter/issues') Issues
