extends layout
block content
  .container
    .row(style="width:1100px;")
      img(src='http://res.heraldm.com/content/image/2019/06/25/20190625000679_0.jpg' style="width:1100px; height:auto;")
  h2(style="margin-top:80px") 대형 가전
  p(style="margin-top:10px") 삼성전자의 고품격 대형 가전 collection을 만나보세요.
  hr

  .container
   if products
    .row
      each n in products
        .col-md-4
          p(style="text-align:center;")
            img.item_thumb(src=`${n.image}`, height=300 style="padding:10px; margin-top:20px;")
            div.item_name(style="font-size:20px;padding-top:10px; padding-bottom:5px; text-align:center;") <strong>SAMSUNG  #{n.id}</strong>
            p(style="text-align:center;")
              span.h6.item_price #{n.price} 원
              br
              a.btn.btn-raised(href='/buy', role='button' style="margin-top:5px") 상세보기