extends layout

block content
    h1 pay page
    hr

    .card
        .card-body
            .label.h3 카드 번호 입력
            br
            .row
                .input-group
                    .col-md-3
                        a.input.form-control(type='text', id='card_no1')
                    .col-md-3
                        a.input.form-control(type='text', id='card_no2')
                    .col-md-3
                        a.input.form-control(type='text', id='card_no3')
                    .col-md-3
                        a.input.form-control(type='text', id='card_no4')
            br
            a.btn.btn-success.btn-lg(href='/finish', role='button' style='float:right') 입력 완료
